@media (max-width: 1500px)
  .section_2
    background-position-x: 250%
    .content
      margin-left: 40px
@media (max-width: 1420px)
  body
    h2
      font-size: 55px
  .contact_form
    .sl
      .title_block
        h1
          font-size: 70px
          max-width: 260px
        h2
          max-width: 685px
  .section_3
    .items_container
      .item
        width: 100%
        max-width: 350px
        .top_content
          padding: 45px 10px
@media (max-width: 1226px)
  .contact_form
    .sl
      .title_block
        h2
          background-color: inherit
  .section_2
    background-position-x: 400px
@media (max-width: 1200px)
  body
    .btn
      font-size: 26px
  .header
    .menu_block
      .menu
        li
          a
            font-size: 20px
            margin: 0 15px
@media (max-width: 991px)
  .header
    .menu_block
      .menu
        li
          a
            font-size: 18px
            margin: 0 10px
@media (max-width: 850px)
  .header
    .logo_block
      margin-left: 20px
    .menu_block
      margin-right: 20px
      .menu
        li
          a
            font-size: 18px
            margin: 0 8px
