.section_4
  width: 100%
  max-width: 1920px
  height: 650px
  background-color: #ffffff
  .traiding_instrument_block
    width: 100%
    max-width: 1580px
    margin: 0 auto
    .widget_block
      margin-top: 20px
      width: 100%
      max-width: 400px
      height: 568px
      display: block
    .items_container
      .item
        display: flex
        margin: 50px 0
        .img_container
          display: inline-block
          //float: left
          margin-right: 15px
        .content_block
          .title
            font-family: Roboto-Bold, Tahoma, sans-serif
          .description
            font-family: Roboto-Light, Tahoma, sans-serif
            font-size: 20px