.section_2
  width: 100%
  max-width: 1920px
  height: 775px
  background: url("../img/siction_2_bg.jpg") no-repeat right
  background-color: #fff
  position: relative
  .content
    margin-top: 125px
    margin-left: 150px
    ul
      margin: 40px 0 40px 20px
      li
        font-family: Roboto-Light, Tahoma, sans-serif
        font-size: 25px
        color: #364c4d
        margin: 8px 0
        list-style-image: url("../img/icon_li.png")
        padding-left: 20px
    .btn_block
      margin-top: 15px
      .btn_for_coaching
        width: 100%
        max-width: 290px
        height: 60px
        text-transform: uppercase
  .modal_wrap
    display: none
    position: absolute
    top: 10px
    left: 0
    right: 0
    margin: 0 auto
    .modal_body
      width: 100%
      max-width: 600px
      height: auto
      padding: 50px 30px
      background-color: #ffffff
      position: absolute
      top: 10px
      left: 0
      right: 0
      margin: 50px auto 0 auto
      z-index: 9999999
      box-shadow: 0 17px 50px 23px rgba(76,189,116,1)
      .close
        color: red
        font-size: 40px
        position: absolute
        top: 10px
        right: 20px
        cursor: pointer
      .modal_text
        h3
          font-size: 22px
          text-align: center
        input
          display: block
          margin: 10px auto
          padding: 10px 20px
          width: 100%
          max-width: 400px
          font-size: 20px
        .bottom_text
          width: 100%
          max-width: 400px
          margin: 10px auto
          font-size: 18px
          text-align: center
        .btn_block
          margin: 20px auto
          text-align: center
          .btn_for_modal_form
            width: 100%
            max-width: 250px
            text-transform: uppercase
            padding: 5px
  .active_modal
    display: block