.section_8
  width: 100%
  max-width: 1920px
  height: 897px
  background: url("../img/section_8_bg.jpg") no-repeat
  background-size: cover
  .text_container
    width: 100%
    max-width: 1580px
    margin: 285px auto 0 auto
    .content_block
      width: 100%
      max-width: 785px
      .btn_block
        margin-top: 45px
        .btn_sections_8
          width: 100%
          max-width: 260px
          height: 50px
          text-transform: uppercase
